# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\FransAdm.LAPTOP-M05O0II\IdeaProjects\Buildforce Digital 00\GreenTrakPlayGround00\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
